# Server
SERVER_PORT=3000

# Database
DATABASE_URL="Your PostgreSQL URL"

# JWT
JWT_ACCESS_SECRET="A long random string"
JWT_REFRESH_SECRET="Another long random string"

# Resend
RESEND_API="Your Resend API key"

# Upstash Redis
UPSTASH_REDIS_REST_URL="Your Upstash Redis REST URL"
UPSTASH_REDIS_REST_TOKEN="Your Upstash Redis REST token"

#Google Client
GOOGLE_CLIENT_ID_WEBAPP =
GOOGLE_CLIENT_SECRET = 
SESSION_SECRET =